<!DOCTYPE html>
<html>
<head>
  <title>SimpleApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="menu">
  <%= link_to 'Home', controller: 'main', action: 'home' %>
  <%= link_to 'Posts', controller: 'posts' %>
  <%= link_to 'About', controller: 'main', action: 'about' %>
</div>

<%= yield %>

<div id="footer">
  <br><small>SimpleApp 2015</small>
</div>

</body>
</html>
